<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome da Residência</ion-label>
      <ion-input type="text" formControlName="nameResidence"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nameResidence.valid && (form.controls.nameResidence.dirty || form.controls.nameResidence.touched)" color="danger">
      <div [hidden]="!form.controls.nameResidence.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="tel" formControlName="tel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.tel.valid && (form.controls.tel.dirty || form.controls.tel.touched)" color="danger">
      <div [hidden]="!form.controls.tel.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nome do Inquilino</ion-label>
      <ion-input type="text" formControlName="nameOwner"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nameOwner.valid && (form.controls.nameOwner.dirty || form.controls.nameOwner.touched)" color="danger">
      <div [hidden]="!form.controls.nameOwner.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>   

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>