<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Visitas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ng-container *ngFor="let visit of visits | async">
      <ion-card text-wrap [ngClass]="(visit.inAtiva == true) ? 'ion-item-active' : 'ion-item-inactive'">
        <ion-item-sliding>
          <ion-item>
            <h1>Visitante: {{ visit.visitante }}</h1>
            <h1>Morador: {{ visit.morador }}</h1>
            <p>Data da Visita: {{ visit.dtVisita | date: 'dd/MM/yyyy' }}</p>
            <p>Hora da Entrada: {{ visit.hrVisita }}</p>
            <p>Hora de Saída: {{ visit.hrSaida}}</p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="finishVisit(visit)" *ngIf="visit.inAtiva == true">
              <ion-icon name="remove"></ion-icon>
            </button>
            <button ion-button color="secondary" (click)="editVisit(visit)">
              <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button color="danger" (click)="removeVisit(visit.key)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ng-container>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="newVisit()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>